html {
    width: 100%;
}
body {
    background-color: black;
    color: #BBB;
    font-family: Menlo, monospace;
    font-size: 12px;
}
hr {
    display: block;
    margin: 10px;
    padding: 0;
    border: 1px solid #555;
}
a {
    text-decoration: none;
    color: #0D0;
}
a:hover, a:active {
    color: #0F0;
}